/* CSS Document */

.upmenutext  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#494949;
	float:right
	padding-left:20px;
	text-transform:uppercase;
	text-decoration:none;
}	
	

a.upmenutext  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#494949;
	float:right;
	padding-left:20px;
	text-transform:uppercase;
	text-decoration:none;
}	


a.upmenutext:hover  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#0990BD;
	float:right;
	padding-left:20px;
	text-transform:uppercase;
	text-decoration:none;
}	


	
.recentpost {
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	color:#333333;
	float:left;
}	
	
	
.recenth  {
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	padding-left:20px;
	text-decoration:none;
}		


.footercopy  {
	font-family:verdana;
	font-size:11px;
	font-weight:normal;
	color:#fff;
	padding-left:20px;
	text-decoration:none;
}		


.footersitemap  {
	font-family:verdana;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	padding-left:20px;
	text-decoration:none;
}	

.rightpanettext  {
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	padding-left:5px;
	text-decoration:none;
}	


.services  {
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	color:#2B75AD;
	text-decoration:none;
}	


.more  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#2B75AD;
	float:right;
	padding-right:20px;
	text-decoration:underline;
}	

.moreabouttext  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#333333;
	padding-left:6px;
	text-decoration:none;
}

.moreabouttextlink  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#0096C1;
	padding-left:6px;
	text-decoration:none;
}


.rightpanelblue  {
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#002866;
}	

.moreabouth  {
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	color:#2B75AD;
	float:left;
	padding-left:10px;
	text-decoration:none;
}	

.texth1  {
	font-family:Verdana;
	font-size:14px;
	font-weight:normal;
	color:#003241;
	float:left;
}	
	
.datetext  {
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	color:#003241;
}	
	
	
.righttoptext  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#0179BE;
	padding-right:10px;
	text-decoration:none;
}		

a.righttoptext  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#0179BE;
	padding-right:10px;
	text-decoration:none;
}		


a.righttoptext:hover  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	padding-right:10px;
	text-decoration:underline;
}		



.leftmenutext {
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#006687;
	padding-left:10px;
	text-decoration:none;
}	

a.leftmenutext {
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#006687;
	padding-left:10px;
	text-decoration:none;
}	

a.leftmenutext:hover {
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#fff;
	padding-left:10px;
	text-decoration:none;		
}

.leftmenutext1 {
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#ffffff;
	padding-left:10px;
	text-decoration:none;
}	

.submenulink{
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#006687;
	padding-left:10px;
	text-decoration:none;	
	}
	
	.submenulink:hover{
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#006687;
	padding-left:10px;
	text-decoration:none;	
	}

.body_label {
	font-family:Arial,Verdana,Sans-serif;
	font-size: 16px;
}

.body_text {
	font-family:Arial,Verdana,Sans-serif;
	font-size: 14px;
}

.textfield_text {
	font-family:Arial,Verdana,Sans-serif;
	font-size: 14px;
}

.button_text{
	font-size: 12px;
	font-weight: bold;
	font-family: Sans-serif;
	font-style: normal;	
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.button_text1{
	font-size: 10px;
	font-weight: bold;
	font-family: Arial,Verdana,Sans-serif;
	text-align: center;	
	color: #0000ff;
}

.error {
	color: red;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
}

.error_small {
	color: red;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: left;
}


.loginformtext  {
	font-family:arial;
	font-size:26px;
	font-weight:normal;
	color:#2B75AD;
	text-decoration:none;
}	



.loginsmall {
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#2C616B;
	float:left;
}	


.loginbold {
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#2C616B;
	float:left;
}	

.getit  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#0096C1;
	padding-left:6px;
	text-decoration:underline;
}

.combo_text {
	font-family:Arial,Verdana,Sans-serif;
	font-size: 14px;
	width: 400px;
}

.td_arrow
{
	background: url("../images/leftmenu_arrow.jpg");
	color: #ffffff;
	text-decoration: none;
}

.td_arrow1
{
	background: url("../images/leftmenu_arrow1.jpg");
	color: #ffffff;
	text-decoration: none;
}

.labellink
{
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#006687;
	text-decoration:none;	
}

.labellink:hover
{
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#004E6F;
	text-decoration:underline;	
}

.timelink
{
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#006687;
	text-decoration:underline;	
}

.timelink:hover
{
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#004E6F;
	text-decoration:underline;	
	background-color: #ffff00;
}

.divscroll
{
overflow: auto;
width: 100%;
height: 350px;
}

.labelsmall {
	font-family:verdana;
	font-size:10px;
	font-weight:normal;
	color:#2C616B;
	float:left;
}
.timediv
{
	font-family:verdana;
	font-size:9px;
	font-weight:normal;
	color:#2C616B;
	float:left;		
	visibility: hidden;
	width: 55px;
	height: 20px;
	color:#2C616B;	
	background-image: url("../images/time_btn.png");
	text-align: center;
}

.divlabel  {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#2C616B;
}

.divmsg{
	position:static;
	background-color:#eeeeee;
	width:280px;
	height:300px;
	z-index:0; 
	margin-top: 50px;
	border-style: outset;
	border-width: thin;
	border-color: #0000ff;
}

.white_large
{
	font-family:verdana;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	padding-left:10px;
	text-decoration:none;	
}

.visible_false{
display: none;
}

.welcome {
	font-family:verdana;
	font-size:22px;
	font-weight:bold;
	color:#289B98;
}	


.searchtext {
	font-family:verdana;
	font-size:11px;	
	color:#2C616B;	
}